MUSE_REAPER_TOKEN=gere-um-token-local-longo-e-unico
MUSE_REAPER_WORKSPACE=D:\MuseReaper
MUSE_REAPER_MEDIA_ROOT=D:\dsf\muse-studio\data
MUSE_REAPER_EXECUTABLE=C:\Program Files\REAPER (x64)\reaper.exe
MUSE_REAPER_AGENT_PORT=47831
MUSE_REAPER_ALLOWED_ORIGINS=http://127.0.0.1:3000,http://localhost:3000
